<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fulcrum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <fulcrum.Properties.Settings>
            <setting name="pathToGeoDB" serializeAs="String">
                <value />
            </setting>
            <setting name="fulcrumUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="fulcrumPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="fulcrumApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="pathToPhotoFolder" serializeAs="String">
                <value />
            </setting>
        </fulcrum.Properties.Settings>
    </userSettings>
</configuration>